<c-row class="mb-4 flex-wrap fs-5">
  <c-col [md]="6" class="justify-content-center mx-auto">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Servicios total
        <span class="badge bg-primary rounded-pill">{{
          NominaData.facturaFinal | currency : "ARS"
        }}</span>
      </li>
    </ul>
  </c-col>
</c-row>

<table class="table table-bordered text-center" [formGroup]="NominaCrudForm">
  <thead>
    <tr>
      <th>Servicios</th>
      <th></th>
      <th>{{ NominaData.facturaFinal | currency : "ARS" }}</th>
    </tr>
  </thead>
  <tbody formArrayName="extras_nomina">
    @for ( nominaF of ExtraNominaFormArray.controls; track $index; let m =
    $index) {
    <tr [formGroupName]="m">
      <td style="max-width: 75px">
        <div cFormFloating>
          <select cSelect id="extra_idlInput{{ m }}" formControlName="extra_id">
            <option value="1">Adición</option>
            <option value="2">Deducción</option>
          </select>
          <label cLabel for="extra_idlInput{{ m }}">Extra </label>
        </div>
        <app-valid-messages-form
          [errors]="getExtraNominaFormControlError(m, 'extra_id')"
          [messages]="NominaCrudErrorMessages['extra_id']"
        ></app-valid-messages-form>
      </td>
      <td style="max-width: 75px">
        <div cFormFloating>
          <input
            cFormControl
            id="monto_{{ m }}"
            formControlName="monto"
            type="text"
            placeholder="monto"
            appOnlyNumberAndPoint
          />
          <label cLabel for="monto_{{ m }}">Monto</label>
        </div>
        <app-valid-messages-form
          [errors]="getExtraNominaFormControlError(m, 'monto')"
          [messages]="NominaCrudErrorMessages['monto']"
        ></app-valid-messages-form>
      </td>
      <td style="max-width: 75px">
        <div cFormFloating>
          <input
            cFormControl
            id="monto_total_{{ m }}"
            formControlName="monto_total"
            type="text"
            placeholder="Monto Total"
            appOnlyNumberAndPoint
          />
          <label cLabel for="monto_total_{{ m }}">Monto</label>
        </div>
        <app-valid-messages-form
          [errors]="getExtraNominaFormControlError(m, 'monto_total')"
          [messages]="NominaCrudErrorMessages['monto_total']"
        ></app-valid-messages-form>
      </td>
    </tr>
    }
  </tbody>
</table>
<!-- 
<form cForm [formGroup]="NominaCrudForm" class="form-Empleado-crud">
  <c-row class="mb-4">
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="descripcionInput"
          placeholder="descripcion"
          type="text"
          formControlName="descripcion"
          [ngClass]="{
            'is-invalid':
              getControl('descripcion').invalid &&
              getControl('descripcion').touched,
            'is-valid': getControl('descripcion').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="descripcionInput">Comentario</label>
        <app-valid-messages-form
          [errors]="getControlError('descripcion')"
          [messages]="NominaCrudErrorMessages['descripcion']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div class="mb-3">
        <app-date-range-picker
          [selectedRangeCalendar]="Fecha"
          (handleDate)="handleDate($event)"
          [floatingInput]="true"
          cFormFloating
        />
      </div>
    </c-col>
  </c-row>
  <c-row class="mb-4">
    <c-col class="text-center">
      <button cButton color="info" (click)="sendValueFom()">Generar</button>
    </c-col>
  </c-row>
</form> -->
