<c-row class="mb-4 flex-wrap fs-5">
  <c-col [md]="6" class="justify-content-center mx-auto">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Servicios total
        <span class="badge bg-primary rounded-pill">{{
          NominaData.facturaFinal | currency : "ARS"
        }}</span>
      </li>
    </ul>
  </c-col>
</c-row>

<table
  class="table table-bordered text-center mb-4"
  [formGroup]="NominaCrudForm"
>
  <thead>
    <tr>
      <th colspan="5" class="text-start">
        <button
          cButton
          color="info"
          class="btn-action-table mx-3"
          (click)="agregarExtraInNomina()"
        >
          <span class="">
            <svg cIcon height="18" name="cil-plus"></svg> Agregar Extra</span
          >
        </button>
      </th>
    </tr>
  </thead>
  <tbody formArrayName="extras_nomina">
    @for ( nominaF of ExtraNominaFormArray.controls; track $index; let m =
    $index) {
    <tr [formGroupName]="m">
      <td style="max-width: 75px">
        <div cFormFloating>
          <select cSelect id="extra_idlInput{{ m }}" formControlName="extra_id">
            <option value="1">Adición</option>
            <option value="2">Deducción</option>
          </select>
          <label cLabel for="extra_idlInput{{ m }}">Extra </label>
        </div>
        <app-valid-messages-form
          [errors]="getExtraNominaFormControlError(m, 'extra_id')"
          [messages]="NominaCrudErrorMessages['extra_id']"
        ></app-valid-messages-form>
      </td>
      <td style="max-width: 75px">
        <div cFormFloating>
          <input
            cFormControl
            id="monto_{{ m }}"
            formControlName="monto"
            type="text"
            placeholder="monto"
            appOnlyNumberAndPoint
          />
          <label cLabel for="monto_{{ m }}">Monto</label>
        </div>
        <app-valid-messages-form
          [errors]="getExtraNominaFormControlError(m, 'monto')"
          [messages]="NominaCrudErrorMessages['monto']"
        ></app-valid-messages-form>
      </td>
      <td style="max-width: 75px">
        <div cFormFloating>
          <input
            cFormControl
            id="monto_total_{{ m }}"
            formControlName="monto_total"
            type="text"
            placeholder="Monto Total"
            appOnlyNumberAndPoint
          />
          <label cLabel for="monto_total_{{ m }}">Monto</label>
        </div>
        <app-valid-messages-form
          [errors]="getExtraNominaFormControlError(m, 'monto_total')"
          [messages]="NominaCrudErrorMessages['monto_total']"
        ></app-valid-messages-form>
      </td>
      <td style="max-width: 150px">
        <div cFormFloating>
          <input
            cFormControl
            id="descripcion_{{ m }}"
            formControlName="descripcion"
            type="text"
            placeholder="Descripcion"
            appOnlyAlphanumeric
          />
          <label cLabel for="descripcion_{{ m }}">Detalle</label>
        </div>
        <app-valid-messages-form
          [errors]="getExtraNominaFormControlError(m, 'descripcion')"
          [messages]="NominaCrudErrorMessages['descripcion']"
        ></app-valid-messages-form>
      </td>
      <td style="max-width: 75px">
        <button
          cButton
          color="danger"
          class="btn-action-table me-3"
          (click)="eliminarExtraForm(m)"
        >
          <span class=""> <svg cIcon height="18" name="cil-trash"></svg> </span>
        </button>
      </td>
    </tr>
    }
    <tr [formGroup]="NominaCrudForm">
      <td colspan="3" valign="middle" class="bg-info">
        <div class="text-center px-3">
          <h6>Presentismo</h6>
        </div>
      </td>
      <td style="max-width: 75px">
        <div class="input-group">
          <input
            cFormControl
            id="presentismoInput"
            placeholder="presentismo"
            type="text"
            formControlName="presentismo"
            [ngClass]="{
              'is-invalid':
                getControl('presentismo').invalid &&
                getControl('presentismo').touched,
              'is-valid': getControl('presentismo').valid
            }"
            appOnlyAlphanumeric
          />
          <span class="input-group-text" id="basic-addon2">%</span>
        </div>
        <app-valid-messages-form
          [errors]="getControlError('presentismo')"
          [messages]="NominaCrudErrorMessages['presentismo']"
        ></app-valid-messages-form>
      </td>
      <td valign="middle" class="bg-info">
        <div class="text-center px-3">
          <h6>{{ getPresentismo() | currency : "ARS" }}</h6>
        </div>
      </td>
    </tr>
    <tr valign="middle" [formGroup]="NominaCrudForm">
      <td colspan="2" style="max-width: 75px">
        <div class="text-end px-3">
          <div cFormFloating>
            <select
              cSelect
              id="metodo_pago_id"
              formControlName="metodo_pago_id"
            >
              <option value="0" hidden>Seleccione un método de pago</option>
              <option
                *ngFor="let MetodoPago of MetodosPagos; let i = index"
                [ngValue]="MetodoPago.id"
              >
                {{ MetodoPago.descripcion | titlecase }}
              </option>
            </select>
            <label cLabel for="metodo_pago_id"
              >Método de pago
              <c-spinner size="sm" *ngIf="loadingMetodosPagos" />
            </label>
          </div>
          <app-valid-messages-form
            [errors]="getControlError('metodo_pago_id')"
            [messages]="NominaCrudErrorMessages['metodo_pago_id']"
          ></app-valid-messages-form>
        </div>
      </td>
      <td colspan="3">
        <div class="text-end px-3">
          <h5>
            Total a pagar:
            <span class="badge bg-primary rounded-pill">{{
              getTotalSeccion() | currency : "ARS"
            }}</span>
          </h5>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <button
    cButton
    color="info"
    class="text-center"
    (click)="sendValueFom()"
    [disabled]="!NominaCrudForm.valid"
  >
    Agregar
  </button>
</div>
<!-- 
<form cForm [formGroup]="NominaCrudForm" class="form-Empleado-crud">
  <c-row class="mb-4">
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="descripcionInput"
          placeholder="descripcion"
          type="text"
          formControlName="descripcion"
          [ngClass]="{
            'is-invalid':
              getControl('descripcion').invalid &&
              getControl('descripcion').touched,
            'is-valid': getControl('descripcion').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="descripcionInput">Comentario</label>
        <app-valid-messages-form
          [errors]="getControlError('descripcion')"
          [messages]="NominaCrudErrorMessages['descripcion']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div class="mb-3">
        <app-date-range-picker
          [selectedRangeCalendar]="Fecha"
          (handleDate)="handleDate($event)"
          [floatingInput]="true"
          cFormFloating
        />
      </div>
    </c-col>
  </c-row>
  <c-row class="mb-4">
    <c-col class="text-center">
      <button cButton color="info" (click)="sendValueFom()">Generar</button>
    </c-col>
  </c-row>
</form> -->
