<c-row class="mb-4 flex-wrap fs-5">
  <c-col [md]="6" class="justify-content-center mx-auto">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Servicios total
        <span class="badge bg-primary rounded-pill">{{
          NominaData.facturaFinal | currency : "ARS"
        }}</span>
      </li>
    </ul>
  </c-col>
</c-row>
<div class="mb-4 p-3 border">
  <c-row class="align-items-center justify-content-center">
    <c-col
      [md]="12"
      (click)="isGastosCollapsed = !isGastosCollapsed"
      [attr.aria-expanded]="!isGastosCollapsed"
      aria-controls="collapseExample"
      class="mb-3 d-flex justify-content-between align-items-center pointer"
    >
      <h5 class="mb-0">Gastos pendientes</h5>
      <svg
        cIcon
        height="18"
        name="fa-chevron-down"
        class="transition"
        [ngClass]="{ 'rotate-180': !isGastosCollapsed }"
      ></svg>
    </c-col>

    <c-col [md]="6" #collapse="ngbCollapse" [(ngbCollapse)]="isGastosCollapsed">
      <div
        class="list-group"
        *ngFor="let NGasto of NominaData.nomina_empleado.gastos; let i = index"
      >
        <!-- Cabecera del gasto -->
        <div
          class="list-group-item d-flex align-items-center justify-content-between gap-2"
          (click)="
            isGastosDetalleCollapsed === i
              ? (isGastosDetalleCollapsed = null)
              : (isGastosDetalleCollapsed = i)
          "
          style="cursor: pointer"
        >
          <!-- Checkbox separado del colapso -->
          <input
            style="width: 1.12em !important; height: 1.12em !important"
            class="form-check-input mt-0 me-2 pointer"
            type="checkbox"
            (click)="
              $event.stopPropagation(); checkGastoPendiente(NGasto, $event)
            "
          />

          <!-- Fecha (clickeable) -->
          <div class="d-flex align-items-center gap-2 pointer">
            <span class="flex-grow-1 fw-bold">
              {{ NGasto.created_at | date : "dd-MM-yyyy" }}
            </span>
          </div>

          <!-- Monto (clickeable) -->
          <h6 class="badge-primary badge-pill pointer">
            {{ sumarTodosLosMetodosPagos(NGasto) | currency : "ARS" }}
          </h6>
        </div>

        <!-- Collapse debajo del ítem actual -->
        <div *ngIf="isGastosDetalleCollapsed === i" class="list-group-item">
          <p class="mb-1"><strong>Detalle del gasto:</strong></p>
          <ul
            class="list-group list-group-flush"
            *ngFor="let NGastoDetalle of NGasto.gasto_detalle"
          >
            <li class="list-group-item">
              Tipo de gasto: {{ NGastoDetalle.tipo_gasto.descripcion }}
            </li>
            <li class="list-group-item">
              Monto: {{ NGastoDetalle.precio | currency : "ARS" }}
            </li>
          </ul>
        </div>
      </div>
    </c-col>
  </c-row>
</div>

<div [formGroup]="NominaCrudForm">
  <div formArrayName="extras_nomina" class="mb-4 border">
    <div class="d-flex align-items-center mb-2 p-3">
      <h5 class="me-3">Extras</h5>
      <button
        cButton
        color="info"
        class="btn-action-table"
        (click)="agregarExtraInNomina()"
      >
        <svg cIcon height="18" name="cil-plus"></svg>
      </button>
    </div>

    <div
      *ngFor="let extraGroup of ExtraNominaFormArray.controls; let i = index"
      [formGroupName]="i"
      class="card mb-3 p-3"
    >
      <div class="row g-2">
        <div class="col-md-2">
          <div cFormFloating>
            <select cSelect id="extra_id_{{ i }}" formControlName="extra_id">
              <option value="1">Adición</option>
              <option value="2">Deducción</option>
            </select>
            <label cLabel for="extra_id_{{ i }}">Tipo Extra</label>
          </div>
          <app-valid-messages-form
            [errors]="getExtraNominaFormControlError(i, 'extra_id')"
            [messages]="NominaCrudErrorMessages['extra_id']"
          ></app-valid-messages-form>
        </div>

        <div class="col-md-2">
          <div cFormFloating>
            <input
              cFormControl
              id="monto_{{ i }}"
              formControlName="monto"
              type="text"
              placeholder="Monto"
              appOnlyNumberAndPoint
            />
            <label cLabel for="monto_{{ i }}">Monto</label>
          </div>
          <app-valid-messages-form
            [errors]="getExtraNominaFormControlError(i, 'monto')"
            [messages]="NominaCrudErrorMessages['monto']"
          ></app-valid-messages-form>
        </div>

        <div class="col-md-2">
          <div cFormFloating>
            <input
              cFormControl
              id="monto_total_{{ i }}"
              formControlName="monto_total"
              type="text"
              placeholder="Monto Total"
              appOnlyNumberAndPoint
            />
            <label cLabel for="monto_total_{{ i }}">Monto Total</label>
          </div>
          <app-valid-messages-form
            [errors]="getExtraNominaFormControlError(i, 'monto_total')"
            [messages]="NominaCrudErrorMessages['monto_total']"
          ></app-valid-messages-form>
        </div>

        <div class="col-md-4">
          <div cFormFloating>
            <input
              cFormControl
              id="descripcion_{{ i }}"
              formControlName="descripcion"
              type="text"
              placeholder="Detalle"
              appOnlyAlphanumeric
            />
            <label cLabel for="descripcion_{{ i }}">Detalle</label>
          </div>
          <app-valid-messages-form
            [errors]="getExtraNominaFormControlError(i, 'descripcion')"
            [messages]="NominaCrudErrorMessages['descripcion']"
          ></app-valid-messages-form>
        </div>

        <div class="col-md-2 d-flex align-items-center">
          <button
            cButton
            color="danger"
            class="btn-action-table"
            (click)="eliminarExtraForm(i)"
          >
            <svg cIcon height="18" name="cil-trash"></svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4 p-3 border" [formGroup]="NominaCrudForm">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-3">
        <h5>Presentismo</h5>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input
            cFormControl
            id="presentismoInput"
            placeholder="presentismo"
            type="text"
            formControlName="presentismo"
            [ngClass]="{
              'is-invalid':
                getControl('presentismo').invalid &&
                getControl('presentismo').touched,
              'is-valid': getControl('presentismo').valid
            }"
            appOnlyAlphanumeric
          />
          <span class="input-group-text">%</span>
        </div>
        <app-valid-messages-form
          [errors]="getControlError('presentismo')"
          [messages]="NominaCrudErrorMessages['presentismo']"
        ></app-valid-messages-form>
      </div>
      <div class="col-md-3">
        <h6>Total presentismo: {{ getPresentismo() | currency : "ARS" }}</h6>
      </div>
    </div>
  </div>

  <div formArrayName="metodos_pago" class="mb-4 border">
    <div class="d-flex align-items-center mb-2 p-3">
      <h5 class="me-3">Métodos de Pago</h5>
      <button
        cButton
        color="info"
        class="btn-action-table"
        [disabled]="MetodoPagoNominaFormArray.length >= 2"
        (click)="agregarMetodoPago()"
      >
        <svg cIcon height="18" name="cil-plus"></svg>
      </button>
    </div>

    <div
      *ngFor="
        let metodoGroup of MetodoPagoNominaFormArray.controls;
        let i = index
      "
      [formGroupName]="i"
      class="card mb-3 p-3"
    >
      <div class="row g-2">
        <div class="col-md-4">
          <div cFormFloating>
            <select
              cSelect
              id="metodo_pago_id_{{ i }}"
              formControlName="metodo_pago_id"
            >
              <option value="0" hidden>Seleccione un método de pago</option>
              <option
                *ngFor="let MetodoPago of MetodosPagos"
                [ngValue]="MetodoPago.id"
              >
                {{ MetodoPago.descripcion | titlecase }}
              </option>
            </select>
            <label cLabel for="metodo_pago_id_{{ i }}">
              Método de pago
              <c-spinner size="sm" *ngIf="loadingMetodosPagos" />
            </label>
          </div>
          <app-valid-messages-form
            [errors]="getMetodoPagoNominaFormControlError(i, 'metodo_pago_id')"
            [messages]="NominaCrudErrorMessages['metodo_pago_id']"
          ></app-valid-messages-form>
        </div>

        <div class="col-md-4">
          <div cFormFloating>
            <input
              cFormControl
              id="monto_metodo_{{ i }}"
              formControlName="monto"
              type="text"
              placeholder="Monto"
              appOnlyNumberAndPoint
            />
            <label cLabel for="monto_metodo_{{ i }}">Monto</label>
          </div>
          <app-valid-messages-form
            [errors]="getMetodoPagoNominaFormControlError(i, 'monto')"
            [messages]="NominaCrudErrorMessages['monto']"
          ></app-valid-messages-form>
        </div>

        <div class="col-md-2 d-flex align-items-center">
          <button
            cButton
            color="danger"
            class="btn-action-table"
            (click)="eliminarMetodoPago(i)"
            [disabled]="MetodoPagoNominaFormArray.length <= 1"
          >
            <svg cIcon height="18" name="cil-trash"></svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-end p-3 mb-4 border">
    <h5>
      Total a pagar:
      <span class="badge bg-primary rounded-pill">
        {{ getTotalSeccion() | currency : "ARS" }}
      </span>
    </h5>
  </div>
</div>
<div class="text-center">
  <button
    cButton
    color="info"
    class="text-center"
    (click)="sendValueFom()"
    [disabled]="!NominaCrudForm.valid"
  >
    Agregar
  </button>
</div>
<!-- 
<form cForm [formGroup]="NominaCrudForm" class="form-Empleado-crud">
  <c-row class="mb-4">
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="descripcionInput"
          placeholder="descripcion"
          type="text"
          formControlName="descripcion"
          [ngClass]="{
            'is-invalid':
              getControl('descripcion').invalid &&
              getControl('descripcion').touched,
            'is-valid': getControl('descripcion').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="descripcionInput">Comentario</label>
        <app-valid-messages-form
          [errors]="getControlError('descripcion')"
          [messages]="NominaCrudErrorMessages['descripcion']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div class="mb-3">
        <app-date-range-picker
          [selectedRangeCalendar]="Fecha"
          (handleDate)="handleDate($event)"
          [floatingInput]="true"
          cFormFloating
        />
      </div>
    </c-col>
  </c-row>
  <c-row class="mb-4">
    <c-col class="text-center">
      <button cButton color="info" (click)="sendValueFom()">Generar</button>
    </c-col>
  </c-row>
</form> -->
