<c-card class="my-4">
  <c-card-header>
    <!-- <p class="h3">Agregar producto</p> -->
  </c-card-header>
  <c-card-body class="pt-4 pb-5">
    <c-container [fluid]="true" class="px-0">
      <c-row class="g-4" class="mb-5">
        <c-col md="6">
          <button
            cButton
            color="info"
            class="btn-action-table me-3"
            (click)="modalStatusById('filtros', true)"
          >
            <svg cIcon height="18" name="cil-filter"></svg>
            Filtros
          </button>
        </c-col>
        <c-col md="6" class="text-end align-content-center">
          <h4 class="text-muted">{{ today | date : "dd/MM/yyyy HH:mm" }}</h4>
        </c-col>
      </c-row>
      <c-row class="g-4">
        <!-- <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Total Facturado'"
            color="info"
            inverse
            value="{{ Panel.total_facturado | currency : 'ARS' }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faFileInvoiceDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col> -->
        <c-col
          xl="3"
          lg="4"
          sm="6"
          class=""
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Facturación'"
            color="success"
            inverse
            value="{{ sumaFacturacion() | currency : 'ARS' }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faFileInvoiceDollar"></svg>
            </ng-template>
          </c-widget-stat-c>

          }
        </c-col>

        <c-col
          xl="3"
          lg="4"
          sm="6"
          class=""
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Caja efectivo'"
            color="success"
            inverse
            value="{{ sumaMetodosPago(1) | currency : 'ARS' }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faFileInvoiceDollar"></svg>
            </ng-template>
          </c-widget-stat-c>

          }
        </c-col>

        <c-col
          xl="3"
          lg="4"
          sm="6"
          class=""
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Caja Mercado Pago'"
            color="success"
            inverse
            value="{{ sumaMetodosPago(2) | currency : 'ARS' }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faFileInvoiceDollar"></svg>
            </ng-template>
          </c-widget-stat-c>

          }
        </c-col>
        <!-- <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Facturas Eliminadas'"
            color="danger"
            inverse
            value="{{
              Panel.total_facturas_eliminadas == 1
                ? Panel.total_facturas_eliminadas + ' Fac.'
                : Panel.total_facturas_eliminadas + ' Facs.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faFileInvoiceDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col> -->
        <!-- <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Cantidad Productos'"
            color="warning"
            inverse
            value="{{
              Panel.total_productos == 1
                ? Panel.total_productos + ' Prod.'
                : Panel.total_productos + ' Prods.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="cil-cut"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col> -->
        <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Servicios Mensuales'"
            color="warning"
            inverse
            value="{{
              Panel.Servicios_mensual.cantidadTotal > 1
                ? Panel.Servicios_mensual.cantidadTotal + ' Servs.'
                : Panel.Servicios_mensual.cantidadTotal + ' Serv.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="cil-cut"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col>
        @if(Panel && Panel.Servicios_Contador.length>0){ @for (service of
        Panel.Servicios_Contador; track service.id; let index = $index) {

        <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="service.descripcion"
            color="info"
            inverse
            value="{{
              service.cantidad > 1
                ? service.cantidad + ' Servs.'
                : service.cantidad + ' Serv.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faHandHoldingDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col>
        } }

        <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Gastos'"
            color="primary"
            inverse
            value="{{ sumaGastos() | currency : 'ARS' }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faHandHoldingDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col>
        <!-- <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            class="bg-1"
            [title]="'Gastos Acumulados'"
            inverse
            value="asfasf"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faHandHoldingDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col> -->
      </c-row>
    </c-container>
  </c-card-body>
</c-card>
<c-modal id="filtros">
  <c-modal-header>
    <h5 cModalTitle><svg cIcon height="18" name="cil-filter"></svg> Filtros</h5>
    <button (click)="modalStatusById('filtros', false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-filtros-list-form
      (filtrar)="filtroEvent($event)"
      [showDate]="true"
      [showValidDates]="false"
      [fechaFilter]="ParametrosURL"
    />
  </c-modal-body>
</c-modal>
