<c-card class="my-4">
  <c-card-header>
    <p class="h3">Agregar Nomina</p>
  </c-card-header>
  <c-card-body class="pt-4">
    <c-container [fluid]="true" class="px-0">
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <!-- <app-nomina-crud-form (FormsValues)="FormsValues($event)" /> -->
            <app-nomina-seleccion-empleado-form
              (FormsValues)="triggerNominaEmpleado($event)"
            />

            @if(_NominaService.LoadingCrud){
            <div>
              <h3>Cargando</h3>
            </div>
            } @if(!_NominaService.LoadingCrud && NominaEmpleadoSelecion){
            <div>
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>{{ NominaEmpleadoSelecion.nombre }}</th>
                    <th
                      *ngFor="
                        let servicio of NominaEmpleadoSelecion.nomina_empleado
                          .servicios
                      "
                      [ngClass]="{
                        'bg-warning': servicio.descripcion === 'TOTAL'
                      }"
                    >
                      {{ servicio.descripcion }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>CANTIDAD</td>
                    <td
                      *ngFor="
                        let servicioCantidad of NominaEmpleadoSelecion
                          .nomina_empleado.servicios
                      "
                    >
                      {{ servicioCantidad.cantidad }}
                    </td>
                  </tr>

                  <tr>
                    <td>PORCENTAJE</td>
                    <td
                      [attr.colspan]="
                        NominaEmpleadoSelecion.nomina_empleado.servicios.length
                      "
                      class="bg-warning"
                    >
                      40%
                    </td>
                  </tr>

                  <tr>
                    <td>VALOR SERVICIOS</td>
                    <td
                      *ngFor="
                        let servicio of NominaEmpleadoSelecion.nomina_empleado
                          .servicios
                      "
                      [ngClass]="{
                        'bg-warning': servicio.descripcion === 'TOTAL'
                      }"
                    >
                      {{ servicio.precio_nomina | currency : "ARS" }}
                    </td>
                  </tr>

                  <tr>
                    <td>FACTURADO</td>
                    <td
                      *ngFor="
                        let servicio of NominaEmpleadoSelecion.nomina_empleado
                          .servicios
                      "
                      [ngClass]="{
                        'fw-bold': servicio.descripcion === 'TOTAL'
                      }"
                    >
                      {{ servicio.facturado | currency : "ARS" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <app-nomina-crud-form
              [NominaData]="NominaEmpleadoSelecion"
              (FormsValues)="FormsValues($event)"
            />
            }
          </div>
        </c-col>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>
