<form cForm [formGroup]="GastoCrudForm" class="form-gasto-crud">
  <!-- Campos principales -->
  <c-row class="mb-4">
    <c-col [md]="3" class="mb-3">
      <div cFormFloating>
        <select
          cSelect
          id="user_idlInput"
          formControlName="user_id"
          [ngClass]="{
            'is-invalid':
              getControl('user_id').invalid && getControl('user_id').touched,
            'is-valid': getControl('user_id').valid
          }"
        >
          <option value="0" hidden>Seleccione un Usuario</option>
          <option
            *ngFor="let usuario of Usuarios; let i = index"
            [ngValue]="usuario.id"
          >
            {{ usuario.nombre_completo | titlecase }}
          </option>
        </select>
        <label cLabel for="user_idlInput"
          >Usuario
          <c-spinner size="sm" *ngIf="loadingUsuarios" />
        </label>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('user_id')"
        [messages]="GastoCrudErrorMessages['user_id']"
      ></app-valid-messages-form>
    </c-col>

    <c-col [md]="3" class="mb-3">
      <div cFormFloating>
        <input
          cFormControl
          id="passwordInput"
          placeholder="password"
          type="password"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              getControl('password').invalid && getControl('password').touched,
            'is-valid': getControl('password').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="passwordInput">Contraseña </label>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('password')"
        [messages]="GastoCrudErrorMessages['password']"
      ></app-valid-messages-form>
    </c-col>
    <c-col [md]="2" class="mb-3">
      <div cFormFloating class="mb-3">
        <c-form-check switch sizing="lg">
          <input
            cFormCheckInput
            type="checkbox"
            id="adicionalId"
            class="pointer"
            formControlName="tipo_usuario"
          />
          <label cFormCheckLabel class="pointer" for="adicionalId"
            >¿Es para empleado?</label
          >
        </c-form-check>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('tipo_usuario')"
        [messages]="GastoCrudErrorMessages['tipo_usuario']"
      ></app-valid-messages-form>
      <div cFormFloating>
        <c-form-check switch sizing="lg">
          <input
            cFormCheckInput
            type="checkbox"
            id="is_local"
            class="pointer"
            formControlName="is_local"
          />
          <label cFormCheckLabel class="pointer" for="is_local"
            >¿Es para el local?</label
          >
        </c-form-check>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('is_local')"
        [messages]="GastoCrudErrorMessages['is_local']"
      ></app-valid-messages-form>
    </c-col>
    <c-col
      class="mb-3"
      [md]="4"
      [ngClass]="{
      'd-none':!getControl('tipo_usuario').value,
    }"
    >
      <div cFormFloating>
        <select
          cSelect
          id="empleado_idlInput"
          formControlName="empleado_id"
          [ngClass]="{
            'is-invalid':
              getControl('empleado_id').invalid &&
              getControl('empleado_id').touched,
            'is-valid': getControl('empleado_id').valid
          }"
        >
          <option value="0">Seleccione un empleado</option>
          <option
            *ngFor="let empleado of Empleados; let i = index"
            [ngValue]="empleado.id"
          >
            {{ empleado.nombre_completo | titlecase }}
          </option>
        </select>
        <label cLabel for="empleado_idlInput"
          >Empleado <c-spinner size="sm" *ngIf="loadingEmpleados"
        /></label>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('empleado_id')"
        [messages]="GastoCrudErrorMessages['empleado_id']"
      ></app-valid-messages-form>
    </c-col>
  </c-row>

  <!-- Sección de gastos -->
  <div formArrayName="gastos">
    <div class="d-flex align-items-center mb-3">
      <h5 class="me-3">Gastos</h5>
      <button
        cButton
        color="primary"
        type="button"
        (click)="agregarNuevoGasto()"
      >
        <svg cIcon height="18" name="cil-plus"></svg>
      </button>
    </div>
    <div class="mb-4 border p-3 position-relative">
      <c-row
        class="form-gasto"
        *ngFor="let gasto of gastos.controls; let i = index; let isLast = last"
        [formGroupName]="i"
      >
        <h6 class="mb-3">Gasto Nro. {{ i + 1 }}</h6>
        <c-col [md]="11">
          <c-row>
            <c-col [md]="3">
              <div cFormFloating>
                <select
                  cSelect
                  id="tipo_gasto_id_{{ i }}"
                  formControlName="tipo_gasto_id"
                  (change)="chageTypeGasto(gasto)"
                >
                  <option value="0" hidden>Seleccione un tipo de gasto</option>
                  <option
                    *ngFor="let tipoGasto of TiposGasto; let i = index"
                    [ngValue]="tipoGasto.id"
                  >
                    {{ tipoGasto.descripcion | titlecase }}
                  </option>
                </select>
                <label cLabel for="user_idlInput"
                  >Tipo de gasto
                  <c-spinner size="sm" *ngIf="loadingTipoGasto" />
                </label>
              </div>
              <app-valid-messages-form
                [errors]="getGastoControlError(i, 'tipo_gasto_id')"
                [messages]="GastoCrudErrorMessages['tipo_gasto_id']"
              ></app-valid-messages-form>
            </c-col>
            <!-- <c-col [md]="3">
              <div cFormFloating>
                <select
                  cSelect
                  id="metodo_pago_id_{{ i }}"
                  formControlName="metodo_pago_id"
                >
                  <option value="0" hidden>Seleccione un método de pago</option>
                  <option
                    *ngFor="let MetodoPago of MetodosPagos; let i = index"
                    [ngValue]="MetodoPago.id"
                  >
                    {{ MetodoPago.descripcion | titlecase }}
                  </option>
                </select>
                <label cLabel for="metodo_pago_id_{{ i }}"
                  >Método de pago
                  <c-spinner size="sm" *ngIf="loadingMetodosPagos" />
                </label>
              </div>
              <app-valid-messages-form
                [errors]="getGastoControlError(i, 'metodo_pago_id')"
                [messages]="GastoCrudErrorMessages['metodo_pago_id']"
              ></app-valid-messages-form>
            </c-col> -->
            <c-col [md]="3" *ngIf="isProducto(gasto.value)">
              <div cFormFloating>
                <!-- <input
                  cFormControl
                  id="producto_id_{{ i }}"
                  formControlName="producto_id"
                  type="text"
                  placeholder="Producto ID"
                /> -->
                <input
                  cFormControl
                  id="producto_id_{{ i }}"
                  formControlName="producto_id"
                  type="text"
                  [ngbTypeahead]="searchClient"
                  [resultTemplate]="CLientTypeaHead"
                  [inputFormatter]="formatterValue"
                  (selectItem)="eventInputTypeHead($event, i)"
                />
                <label cLabel for="producto_id_{{ i }}"
                  >Nombre <c-spinner size="sm" *ngIf="LoadingSearchClient"
                /></label>
              </div>
              <app-valid-messages-form
                [errors]="getGastoControlError(i, 'producto_id')"
                [messages]="GastoCrudErrorMessages['producto_id']"
              ></app-valid-messages-form>
            </c-col>
            <c-col [md]="3" *ngIf="isProducto(gasto.value)">
              <div cFormFloating>
                <input
                  cFormControl
                  id="cantidad_{{ i }}"
                  formControlName="cantidad"
                  type="text"
                  placeholder="Cantidad"
                  (keyup)="changeCantidad(gasto)"
                  (change)="changeCantidad(gasto)"
                  appOnlyNumbers
                />
                <label cLabel for="cantidad_{{ i }}">Cantidad</label>
              </div>
              <app-valid-messages-form
                [errors]="getGastoControlError(i, 'cantidad')"
                [messages]="GastoCrudErrorMessages['cantidad']"
              ></app-valid-messages-form>
            </c-col>
            <c-col [md]="3" *ngIf="isProducto(gasto.value)">
              <div cFormFloating>
                <input
                  cFormControl
                  id="precio_unitario_{{ i }}"
                  formControlName="precio_unitario"
                  type="text"
                  placeholder="Precio Unitario"
                />
                <label cLabel for="precio_unitario_{{ i }}"
                  >Precio Unitario</label
                >
              </div>
              <app-valid-messages-form
                [errors]="getGastoControlError(i, 'precio_unitario')"
                [messages]="GastoCrudErrorMessages['precio_unitario']"
              ></app-valid-messages-form>
            </c-col>
            <c-col [md]="3" *ngIf="gasto.value.tipo_gasto_id != 0">
              <div cFormFloating>
                <input
                  cFormControl
                  id="precio_{{ i }}"
                  formControlName="precio"
                  type="text"
                  placeholder="precio"
                />
                <label cLabel for="precio_{{ i }}">Total</label>
              </div>
              <app-valid-messages-form
                [errors]="getGastoControlError(i, 'precio')"
                [messages]="GastoCrudErrorMessages['precio']"
              ></app-valid-messages-form>
            </c-col>
          </c-row>
        </c-col>

        <c-col [md]="1" class="align-content-start">
          <button
            cButton
            color="danger"
            (click)="eliminarGasto(i)"
            [disabled]="gastos.controls.length == 0"
          >
            <svg cIcon height="18" name="cil-trash"></svg>
          </button>
        </c-col>
        @if(!isLast){
        <hr />
        }
      </c-row>
    </div>
  </div>

  <div formArrayName="metodos_pago">
    <div class="d-flex align-items-center mb-3">
      <h5 class="me-3">Métodos de Pago</h5>
      <button
        cButton
        color="primary"
        type="button"
        (click)="agregarMetodoPago()"
        [disabled]="MetodosPagoControls.controls.length == 2"
      >
        <svg cIcon height="18" name="cil-plus"></svg>
      </button>
    </div>
    <div class="mb-4 border p-3 position-relative">
      <c-row
        class="form-metodo-pago"
        *ngFor="
          let mPago of MetodosPagoControls.controls;
          let j = index;
          let isLastMp = last
        "
        [formGroupName]="j"
      >
        <c-col [md]="3" class="mb-4">
          <div cFormFloating>
            <select
              cSelect
              id="metodo_pago_id_{{ j }}"
              formControlName="metodo_pago_id"
            >
              <option value="0" hidden>Seleccione un método de pago</option>
              <option
                *ngFor="let MetodoPago of MetodosPagos; let i = index"
                [ngValue]="MetodoPago.id"
              >
                {{ MetodoPago.descripcion | titlecase }}
              </option>
            </select>
            <label cLabel for="metodo_pago_id_{{ j }}"
              >Método de pago
              <c-spinner size="sm" *ngIf="loadingMetodosPagos" />
            </label>
          </div>
          <app-valid-messages-form
            [errors]="getMetodoPagoError(j, 'metodo_pago_id')"
            [messages]="GastoCrudErrorMessages['metodo_pago_id']"
          ></app-valid-messages-form>
        </c-col>
        <c-col [md]="3">
          <div cFormFloating>
            <input
              cFormControl
              id="monto_{{ j }}"
              formControlName="monto"
              type="text"
              placeholder="Cantidad"
              appOnlyNumbers
            />
            <label cLabel for="monto_{{ j }}">Monto</label>
          </div>
          <app-valid-messages-form
            [errors]="getMetodoPagoError(j, 'monto')"
            [messages]="GastoCrudErrorMessages['monto']"
          ></app-valid-messages-form>
        </c-col>
        <c-col [md]="1">
          <button
            cButton
            color="danger"
            (click)="eliminarMetodoPago(j)"
            [disabled]="MetodosPagoControls.controls.length <= 1"
          >
            <svg cIcon height="18" name="cil-trash"></svg>
          </button>
        </c-col>
        @if(!isLastMp){
        <hr />
        }
      </c-row>
    </div>
  </div>
  <!-- Botón para enviar el formulario -->
  <c-row class="mb-4">
    <c-col class="text-center">
      @if (Nomina) {
      <button
        cButton
        color="info"
        [disabled]="!ValidarBtnForm()"
        (click)="sendValueFom()"
      >
        Editar
      </button>
      } @else {
      <button
        cButton
        color="info"
        [disabled]="!ValidarBtnForm()"
        (click)="sendValueFom()"
      >
        Agregar
      </button>
      }
    </c-col>
  </c-row>
</form>

<ng-template #CLientTypeaHead let-resultado="result" let-resaltado="term">
  <ngb-highlight [result]="resultado.id" [term]="resaltado.id"></ngb-highlight>
  -
  <ngb-highlight
    [result]="resultado.marca"
    [term]="resaltado.marca"
  ></ngb-highlight>
</ng-template>
