<c-card class="my-4">
  <c-tabs [activeItemKey]="'profile'" (activeItemKeyChange)="tabChange($event)">
    <c-tabs-list variant="tabs">
      <button
        cTab
        [itemKey]="numberValue(empleado.id)"
        *ngFor="let empleado of EmpleadoList"
      >
        {{ empleado.nombre_completo }}
      </button>
    </c-tabs-list>
    <c-tabs-content>
      <c-tab-panel
        class="p-3"
        [itemKey]="numberValue(empleado.id)"
        *ngFor="let empleado of EmpleadoList"
      >
        <c-card-header>
          <div
            class="w-100 d-flex justify-content-between align-items-center flex-wrap mb-3"
          >
            <p class="h3">Facturación {{ empleado.nombre_completo }}</p>

            <h4>
              Facturado :
              {{
                _FacturaPedidoService.sumarTotalesPorEmpleado(empleado.id)
                  | currency : "ARS"
              }}
            </h4>
          </div>
          <!-- Botón principal (visible en la parte normal de la pantalla) -->
          <!-- Botón principal -->
          <div class="scroll-info" *ngIf="scrollPosition <= 70">
            <button
              class="btn btn-primary"
              (click)="agregarFactura(empleado?.id)"
            >
              <svg cIcon height="18" name="cil-plus"></svg>
              Agregar Factura
            </button>
          </div>
        </c-card-header>
        <c-card-body class="pt-4">
          <c-container [fluid]="true" class="px-0">
            <div class="accordion" [attr.id]="'accordion-' + empleado.id">
              <div
                class="accordion-item"
                *ngFor="let empFactura of empleado.facturas?.[0]?.factura_detalle || []; let j = index"
              >
                <div
                  [attr.id]="'heading-' + empleado.id + '-' + j"
                  class="d-flex justify-content-between align-items-center accordion-header"
                >
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    [attr.data-bs-toggle]="'collapse'"
                    [attr.data-bs-target]="'#collapse-' + empleado.id + '-' + j"
                    [attr.aria-expanded]="'false'"
                    [attr.aria-controls]="'collapse-' + empleado.id + '-' + j"
                    [ngClass]="{
                      hasPago: validarEstadoPago(j, numberValue(empleado.id)),
                      notHasPago: !validarEstadoPago(
                        j,
                        numberValue(empleado.id)
                      )
                    }"
                  >
                    <div class="d-flex align-items-center">
                      <p class="h5 text-info">
                        Cliente: {{ empFactura.cliente?.nombre }}
                        {{ empFactura.cliente?.apellido }}
                      </p>
                      <span
                        class="ms-3 pointer"
                        (click)="
                          eliminarFacturaDetalle(
                            empFactura,
                            numberValue(empleado.id)
                          )
                        "
                      >
                        <svg
                          cIcon
                          height="18"
                          class="text-danger"
                          name="cil-trash"
                        ></svg>
                      </span>
                    </div>
                    <span class="ms-3 text-muted">
                      <strong>Fecha:</strong>
                      {{ empFactura.created_at | date : "dd/MM/yyyy HH:mm" }}
                    </span>
                  </button>
                </div>

                <div
                  [attr.id]="'collapse-' + empleado.id + '-' + j"
                  class="accordion-collapse collapse"
                  [attr.aria-labelledby]="'heading-' + empleado.id + '-' + j"
                >
                  <div class="accordion-body">
                    <div
                      class="small text-body-secondary mt-2 border p-4"
                      [class.hasPago]="
                        validarEstadoPago(j, numberValue(empleado.id))
                      "
                      [class.notHasPago]="
                        !validarEstadoPago(j, numberValue(empleado.id))
                      "
                    >
                      <!-- <hr class="mb-4" /> -->
                      <app-pedido-new-form
                        (FormsValues)="FormsValues($event)"
                        [Clientes]="Clientes"
                        [MetodosPagos]="MetodosPagos"
                        [Productos]="Productos"
                        [Servicios]="Servicios"
                        [PedidoDetail]="empFactura"
                        (ActualizarProductos)="ActualizarProductos($event)"
                        [EmpleadoId]="numberValue(empleado.id)"
                        (TienePago)="actualizarEstadoPago($event, j)"
                      ></app-pedido-new-form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </c-container>
        </c-card-body>
        <!-- Botón flotante dentro de la pestaña -->
        <button
          class="btn btn-primary btn-flotante"
          (click)="agregarFactura(empleado?.id)"
          *ngIf="scrollPosition > 70"
        >
          <svg cIcon height="18" name="cil-plus"></svg>
          Factura {{ empleado.nombre_completo }}
        </button>
      </c-tab-panel>
    </c-tabs-content>
  </c-tabs>
</c-card>

<c-card *ngIf="loaderEmpleados">
  <c-card-body>
    <c-container [fluid]="true" class="my-table-full px-0 text-center">
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <span class="h4"> Cargando <c-spinner size="sm" /></span>
          </div>
        </c-col>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>
