<c-card class="my-4">
  <c-tabs [activeItemKey]="'profile'" (activeItemKeyChange)="tabChange($event)">
    <c-tabs-list variant="tabs">
      <button
        cTab
        [itemKey]="numberValue(empleado.id)"
        *ngFor="let empleado of EmpleadoList"
        class=""
        [ngClass]="{
          hasPago: !tienePagosSinCompletar(numberValue(empleado.id)),
          pagoSinCompletar: tienePagosSinCompletar(numberValue(empleado.id))
        }"
      >
        <h5>{{ empleado.nombre_completo }}</h5>
      </button>
    </c-tabs-list>
    <c-tabs-content>
      <c-tab-panel
        class="p-3"
        [itemKey]="numberValue(empleado.id)"
        *ngFor="let empleado of EmpleadoList"
      >
        <c-card-header>
          <div
            class="w-100 d-flex justify-content-between align-items-center flex-wrap mb-3"
          >
            <p class="h3">Facturación {{ empleado.nombre_completo }}</p>

            <h4>
              Facturado :
              {{
                _FacturaPedidoService.sumarTotalesPorEmpleado(empleado.id)
                  | currency : "ARS"
              }}
            </h4>
          </div>
          <!-- Botón principal (visible en la parte normal de la pantalla) -->
          <!-- Botón principal -->
          <div class="scroll-info" *ngIf="scrollPosition <= 70">
            <button
              class="btn btn-primary"
              (click)="agregarFactura(empleado?.id)"
            >
              <svg cIcon height="18" name="cil-plus"></svg>
              Agregar Factura
            </button>
          </div>
        </c-card-header>
        <c-card-body class="pt-4">
          <c-container [fluid]="true" class="px-0">
            <c-accordion [alwaysOpen]="true">
              <ng-container
                *ngFor="let empFactura of empleado.facturas?.[0]?.factura_detalle || []; let j = index"
              >
                <c-accordion-item #item="cAccordionItem" [visible]="false">
                  <ng-template cTemplateId="accordionHeaderTemplate">
                    <button
                      (click)="item.toggleItem()"
                      [collapsed]="!item.visible"
                      cAccordionButton
                      class="w-100 text-start d-flex align-items-center"
                      [ngClass]="{
                        hasPago: validarEstadoPago(
                          numberValue(empFactura.id),
                          numberValue(empleado.id)
                        ),
                        notHasPago: !validarEstadoPago(
                          numberValue(empFactura.id),
                          numberValue(empleado.id)
                        )
                      }"
                    >
                      <div
                        class="d-flex justify-content-between align-items-center w-100"
                      >
                        <div class="d-flex align-items-center">
                          <p class="h5 text-info"></p>
                          <p class="h5 text-info">
                            Cliente: {{ empFactura.cliente?.nombre }}
                            {{ empFactura.cliente?.apellido }}
                          </p>
                          <span
                            class="ms-3 pointer"
                            (click)="
                              eliminarFacturaDetalle(
                                empFactura,
                                numberValue(empleado.id)
                              );
                              $event.stopPropagation()
                            "
                          >
                            <svg
                              cIcon
                              height="18"
                              class="text-danger"
                              name="cil-trash"
                            ></svg>
                          </span>
                        </div>
                        <span class="me-2 text-muted">
                          <strong>Fecha:</strong>
                          {{
                            empFactura.created_at | date : "dd/MM/yyyy HH:mm"
                          }}
                        </span>
                      </div>
                    </button>
                  </ng-template>
                  <ng-template cTemplateId="accordionBodyTemplate">
                    <div
                      class="small text-body-secondary mt-2 border p-4"
                      [class.hasPago]="
                        validarEstadoPago(
                          numberValue(empFactura.id),
                          numberValue(empleado.id)
                        )
                      "
                      [class.notHasPago]="
                        !validarEstadoPago(
                          numberValue(empFactura.id),
                          numberValue(empleado.id)
                        )
                      "
                    >
                      <app-pedido-new-form
                        (FormsValues)="FormsValues($event)"
                        [Clientes]="Clientes"
                        [MetodosPagos]="MetodosPagos"
                        [Productos]="Productos"
                        [Servicios]="Servicios"
                        [PedidoDetail]="empFactura"
                        (ActualizarProductos)="ActualizarProductos($event)"
                        [EmpleadoId]="numberValue(empleado.id)"
                        (TienePago)="actualizarEstadoPago($event)"
                      ></app-pedido-new-form>
                    </div>
                  </ng-template>
                </c-accordion-item>
              </ng-container>
            </c-accordion>
          </c-container>
        </c-card-body>
        <!-- Botón flotante dentro de la pestaña -->
        <button
          class="btn btn-primary btn-flotante"
          (click)="agregarFactura(empleado?.id)"
          *ngIf="scrollPosition > 70"
        >
          <svg cIcon height="18" name="cil-plus"></svg>
          Factura {{ empleado.nombre_completo }}
        </button>
      </c-tab-panel>
    </c-tabs-content>
  </c-tabs>
</c-card>

<c-card *ngIf="loaderEmpleados">
  <c-card-body>
    <c-container [fluid]="true" class="my-table-full px-0 text-center">
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <span class="h4"> Cargando <c-spinner size="sm" /></span>
          </div>
        </c-col>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>
