.main-button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.accordion-item {
  margin-bottom: 10px;
}

.hasPago {
  background-color: #e6f4ea !important;
  // color: #03990b !important;
}

.notHasPago {
  background-color: transparent !important;
  color: #212529;
  border: none;
}

// Si el tema es oscuro, aplica a cualquier elemento con .hasPago
::ng-deep {
  .accordion-item {
    margin-bottom: 10px;
  }

  [data-coreui-theme="dark"] {
    .hasPago {
      background-color: #2e3c35 !important;
      // color: #03990b !important;
    }
    .notHasPago {
      // background-color: transparent !important;
      color: #fff;
    }
  }
}
