<c-card class="my-4" *ngIf="!loaderFacturas">
  <c-tabs [activeItemKey]="'profile'" (activeItemKeyChange)="tabChange($event)">
    <c-tabs-list variant="tabs">
      <button cTab itemKey="Empleado">
        {{ Factura.empleado?.nombre_completo }}
      </button>
    </c-tabs-list>
    <c-tabs-content>
      <c-tab-panel class="p-3" itemKey="Empleado">
        <c-card-header>
          <div
            class="w-100 d-flex justify-content-between align-items-center flex-wrap mb-3"
          >
            <p class="h3">
              Facturación {{ Factura.empleado?.nombre_completo }}
            </p>
            <h4>
              Facturado :
              {{
                _FacturaPedidoService.sumarTotalesPorEmpleado(
                  Factura.empleado_id
                ) | currency : "ARS"
              }}
            </h4>
          </div>
        </c-card-header>
        <c-card-body class="pt-4">
          <c-container [fluid]="true" class="px-0">
            <div
              class="accordion"
              [attr.id]="'accordion-' + Factura.empleado_id"
            >
              <div
                class="accordion-item"
                *ngFor="
                  let facturaDetail of Factura.factura_detalle;
                  let j = index
                "
              >
                <div
                  [attr.id]="'heading-' + Factura.empleado_id + '-' + j"
                  class="d-flex justify-content-between align-items-center accordion-header"
                >
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    [attr.data-bs-toggle]="'collapse'"
                    [attr.data-bs-target]="
                      '#collapse-' + Factura.empleado_id + '-' + j
                    "
                    [attr.aria-expanded]="'false'"
                    [attr.aria-controls]="
                      'collapse-' + Factura.empleado_id + '-' + j
                    "
                    [ngClass]="{
                      hasPago: validarEstadoPago(
                        j,
                        numberValue(Factura.empleado_id)
                      ),
                      notHasPago: !validarEstadoPago(
                        j,
                        numberValue(Factura.empleado_id)
                      )
                    }"
                  >
                    <div class="d-flex align-items-center">
                      <p class="h5 text-info">
                        {{ j + 1 }} - {{ facturaDetail.cliente?.nombre }}
                        {{ facturaDetail.cliente?.apellido }}
                      </p>
                      <span
                        class="ms-3 pointer"
                        (click)="
                          eliminarFacturaDetalle(
                            facturaDetail,
                            numberValue(Factura.empleado_id)
                          )
                        "
                      >
                        <svg
                          cIcon
                          height="18"
                          class="text-danger"
                          name="cil-trash"
                        ></svg>
                      </span>
                    </div>
                    <span class="ms-3 text-muted">
                      <strong>Fecha:</strong>
                      {{ Factura.created_at | date : "dd/MM/yyyy HH:mm" }}
                    </span>
                  </button>
                </div>
                <div
                  [attr.id]="'collapse-' + Factura.empleado_id + '-' + j"
                  class="accordion-collapse collapse"
                  [attr.aria-labelledby]="
                    'heading-' + Factura.empleado_id + '-' + j
                  "
                >
                  <div class="accordion-body">
                    <div
                      class="small text-body-secondary mt-2 border p-4"
                      [class.hasPago]="
                        validarEstadoPago(j, numberValue(Factura.empleado_id))
                      "
                      [class.notHasPago]="
                        !validarEstadoPago(j, numberValue(Factura.empleado_id))
                      "
                    >
                      <app-pedido-new-form
                        (FormsValues)="FormsValues($event)"
                        [Clientes]="Clientes"
                        [MetodosPagos]="MetodosPagos"
                        [Productos]="Productos"
                        [Servicios]="Servicios"
                        [PedidoDetail]="facturaDetail"
                        (ActualizarProductos)="ActualizarProductos($event)"
                        [EmpleadoId]="numberValue(Factura.empleado_id)"
                        (TienePago)="actualizarEstadoPago($event, j)"
                      ></app-pedido-new-form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </c-container>
        </c-card-body>
      </c-tab-panel>
    </c-tabs-content>
  </c-tabs>
</c-card>
<c-card *ngIf="loaderFacturas">
  <c-card-body>
    <c-container [fluid]="true" class="my-table-full px-0 text-center">
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <span class="h4"> Cargando <c-spinner size="sm" /></span>
          </div>
        </c-col>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>
