@if(!floatingInput){
<label cLabel [for]="'datePicker_' + componentId" class="form-label">{{
  textLabel
}}</label>
}

<div class="input-group">
  <input
    class="form-control"
    placeholder="dd-mm-yyyy"
    name="dp"
    [id]="'datePicker_' + componentId"
    [(ngModel)]="model"
    (ngModelChange)="onDateSelect($event)"
    ngbDatepicker
    #d="ngbDatepicker"
    [outsideDays]="'hidden'"
    readonly
  />
  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="d.toggle()"
    aria-label="Abrir calendario"
  >
    <svg cIcon height="18" name="faCalendarAlt"></svg>
  </button>
</div>

@if(floatingInput){
<label cLabel [for]="'datePicker_' + componentId">{{ textLabel }}</label>
}
